<!doctype html>
<html class="notranslate" th:lang="${#locale.language}" translate="no" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
</head>
<body>
<div class="container">
    <div class="container my-5">
        <h3 th:text="#{title.proposal.create(${gatheringName})}"></h3>
        <form action="#" method="post" th:action="@{/names/}" th:object="${proposal}">

            <h1>Errors?</h1>
            <span
                    class="text-danger" th:errors="*{global}">
                    </span>
            <span
                    class="text-danger" th:errors="*{options}">
                    </span>
            <span
                    class="text-danger" th:errors="*{all}">
                    </span>

                    <div th:if="${#fields.hasErrors('options')}"
                         th:each="e : ${#fields.errors('options')}" th:text="#{${e}}" >
                    </div>


            <h1>Form?</h1>
            <div class="card">
                <div class="card-body">
                    <div class="col-md-10">
                        <!--/* manually add 10 option boxes
                        TODO: https://stackoverflow.com/questions/25027801/how-to-set-thymeleaf-thfield-value-from-other-variable

                        https://stackoverflow.com/questions/25808433/hidden-field-value-blank-thymeleaf

                        th:value="${number}" th:attr="name='options[' + ${iter.index} + ']'"

                        */-->
                        <div class="row" th:each="number : ${#numbers.sequence( 0, 9, 1)}">
                            <span th:text="${number}"></span>
                            <div class="form-group col-md-8">
                                <label class="col-form-label" th:for="${'options['+number+']'}"
                                       th:text="#{create.optionHeader}"></label>
                                <input
                                        class="form-control" th:attr="name='options[' + ${number} + ']'"
                                        th:id="${'options['+number+']'}" th:placeholder="#{create.optionPlaceholder}"
                                        type="text">
                                <span
                                        class="text-danger"
                                        th:text="${#fields.hasErrors('options['+__${number}__+']')}"></span>
                                <span
                                        class="text-danger" th:attr="errors='options[' + ${number} + ']'"
                                        th:if="${#fields.hasErrors('options['+__${number}__+']')}"></span>

                                        <div th:if="${#fields.hasErrors('options[' + number + ']')}"
                                             th:each="e : ${#fields.errors('options[' + number + ']')}" th:text="#{${e}}" >
                                        </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 pt-1">
                                <input class="btn btn-primary ml-2" th:value="#{proposal.create.save}"
                                       type="submit">
                                <input class="btn btn-danger ml-2" th:value="#{menu.resetForm}" type="reset"/>
                            </div>

                            <div class="form-group col-md-8"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
